body {
        color: rgb(179, 233, 250) (86, 21, 172);
        background-color:rgb(238, 217, 255);
}
h1 { color: rgb(2, 100, 156) (252, 252, 252); background-color: rgb(195, 235, 241);  font-family: 'Indie Flower', cursive;}
h2 {color: rgb(112, 0, 134) (86, 21, 172); font-family: 'Indie Flower', cursive;}
a {color:rgb(2, 100, 156)}
nav a {background-color:rgb(24, 40, 131) ;}
nav{
        padding: 10px;
        margin-bottom: 30px;
        background-color:rgb(151, 187, 235) ;

}
nav a:hover {background-color: rgb(112, 0, 134) (86, 21, 172);}
div{
        border: 1px solid black;
        margin: 30px;
        padding: 50px;
        background-color: rgb(179, 233, 250) (86, 21, 172) ;
        border-radius: 25px;
}